@model List<String>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <bootstrap-carousel item-source="@Model"></bootstrap-carousel>
        </div>
    </div>
</div>
